.projects {
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: #232323;
    box-shadow: -5px 6px 14px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: -5px 6px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 6px 14px -5px rgba(0,0,0,0.75);
}

.project__list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
}

.project__item {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    border-top: 5px solid white;
}

.project__img {
    width: 350px;
}

.project__content {
    width: 50%;
    border-radius: 8px;
}

.project__description {
    font-size: 15px;
    line-height: 22px;
}

.project__description a {
    color: var(--blue);
}

.technologies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0 25px;
}

.technologies > img {
    width: 50px;
    transition: transform 0.5s;
}

.technologies > img:hover {
    transform: scale(1.2);
}

.btn--details {
    height: 50px;
    line-height: 50px;
    background-color: var(--naranja);
    margin: 20px auto;
}

.btn--details:hover {
    transform: scale(1.05);
}

@media (max-width: 375px) {
    .projects {
        width: 95%;
    }

    .project__item {
        flex-direction: column;
    }

    .project__img {
        width: 330px;
    }

    .project__content {
        width: 95%;
    }
}